/* GENERAL */
	@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville: 300,300italic,400,400italic,700,700italic, 900, 900italic|Montserrat: 300,400,700,900|Raleway: 300,400,700,900|Roboto: 300,400,700,900');
	* {
	    	font-family: "Roboto", sans-serif !important;
	}
	html, 
	body {
		background: #F6F7FB;
		padding: 0;
		margin: 0;
		overflow-x: hidden;
	}
	a {
		text-decoration: none;
	}
	.italic {
		font-family: "Libre Baskerville", serif !important;
		font-weight: bold;
	}
	.dot {
		font-family: "Montserrat", sans-serif !important;
		font-style: normal;
	}
/* CONTAINER */
	header {
		background: #F6F7FB;
		height: 40px;
		width: 100%;
		position: fixed;
		top: 0px;
		z-index: 999;
	}
	#container {
		background: #FFF;
		height: auto;
		margin: 40px;
	}
	footer {
		background: #F6F7FB;
		height: 42px;
		width: 100%;
		position: fixed;
		bottom: 0px;
	}
	#top {
		background: #3E4651;
		border: none;
		border-radius: 2px;
		color: white;
		cursor: pointer;
		letter-spacing: .5px;
		outline: none;
		padding: 10px 20px;
		text-transform: uppercase;
		display: none;
		position: fixed;
		bottom: 20px;
		right: 30px;
		z-index: 99;
	}
	#top span {
		font-family: "Montserrat", sans-serif !important;		
	}
	/** NAVBAR **/
		#navbar {
			background: #3E4651;
			height: 35px;
			line-height: 32px;
			padding: 10px;
		}
		/*** MENU ***/
			#menu:before {
				background: no-repeat url("icons/menu.png") left;
				background-size: 14px auto;
				color: transparent;
				content: "dd";
				padding-right: 5px;
			}
			#menu {
				background: #23B684;
				color: #FFF;
				cursor: pointer;
				font-family: "Montserrat", sans-serif !important;
				font-size: 10pt !important;
				font-weight: bold;
				height: 55px;
				width: 100px;
				padding-left: 24px;
				line-height: 55px;
				text-transform: uppercase;
				position: absolute !important;
				top: 40px !important;
				left: 40px !important;
			}
		/*** NAME ***/
			#name {
				width: 100%;
				text-align: center;
			}
			#name span {
				color: #FFF !important;
				font-family: "Montserrat", sans-serif !important;
				font-size: 10pt;
				font-weight: bold;
				letter-spacing: 1px;
				padding-left: 44px;
				text-transform: uppercase;
			}
		/*** THEME ***/
			#language {
				width: 200px;
				height: 53px !important;
				line-height: 51px !important;
				text-align: right;
				position: absolute;
				top: 40px;
				right: 54px;
			}
			button {
				background: transparent;
				border: none;
				box-shadow: none;
				color: #FFF;
				font-family: "Montserrat", sans-serif !important;
				font-size: 10pt;
				font-weight: bold;
				margin-left: -5px;
			}
	/** SIDEBAR **/
		#sidebar {
			background: #2CC990;
			height: 450px;
			width: 250px;
			margin-left: -250px;
			float: left;
			transition: all .5s ease-in-out !important;
			display: inline-block !important;	
		}
		#sidebar li {

			box-sizing: border-box;
			border-color: #16A086;
			border-style: dotted;
			border-width: 0px 0px 1px 0px;
			color: #FFF;
			cursor: pointer;
			font-family: "Montserrat", sans-serif !important;
			font-size: 10.5pt;
			font-weight: bold;
			letter-spacing: .5px;
			line-height: 70px;
			list-style: none;
			height: 70px;
			width: 250px;
			padding-left: 42px;
			text-transform: uppercase;
		}
		#sidebar li:hover {
			background: #0F595E;
			border-left: 8px solid #1BA39C !important;
			padding-left: 34px;
		}
	/** BANNER **/
		#banner {
			width: 100%;
			height: 450px;
			overflow: hidden !important;
			white-space: nowrap !important;
		}
		#main {
			background: no-repeat url("background/background12.png") !important;
        			background-position: left center !important;
        			background-size: cover  !important;
			height: 100%;
			width: 100%;
			display: inline-block !important;	
			overflow:hidden !important;
		}
		/*** DATE ***/
			.date {
				color: #FFF !important;
				font-size: 30px !important;
				font-weight: 900 !important;
				font-family: "Montserrat", sans-serif !important;
				letter-spacing: 1px;
				text-transform: uppercase;
				position: absolute;
				margin-left: 100px;
				margin-top: 110px;
			}
		/*** CATCHPHRASE ***/
			#message:before {
				background: no-repeat url("icons/section.png") left;
				background-size: 80px auto;
				content: "ddddd";
				color: transparent;
				filter: brightness(0) invert(1);
				position: absolute;
				margin-top: -70px;
			}
			#message  {
				color: #FFF;
				font-family: "Montserrat", sans-serif !important;
				font-size: 33pt;
				font-weight: 900;
				width: 90%;
				height: 200px;
				text-align: left;
				margin-left: 100px;
				margin-top: 210px;
			}
			#message .maintitle {
				font-family: "Raleway", sans-serif !important;
				font-weight: 900 !important;
			}
			#message .subtitle {
				font-family: "Libre Baskerville", serif !important;
				font-style: italic;
				font-weight: 400 !important;
				margin-top: -40px !important;
			}
			#message strong {
				font-family: "Montserrat", sans-serif !important;
				font-size: 33pt;	
				font-style: normal;		
			}
	/** CONTENT **/
		#content {
			box-sizing: border-box;
			width: 100%;
			height: auto !important;
			padding: 50px;
		}
		/*** LEFT BOX ***/
			#leftbox {
				border-right: 1px dashed #E7E7E7;
				height: 100% !important;
				width: 240px !important;
				padding: 20px 50px 20px 20px;
				text-align: left;
				float: left !important;
			}
			/**** SECTION ****/
				#section {
					height: 50px;
					margin-top: -15px;
				}
				#section h1 {
					color: #3C3741 !important;
					font-family: "Montserrat", sans-serif !important;
					font-size: 16pt;
					font-weight: bold;
					letter-spacing: -.5px;
					text-transform: uppercase;
				}
			/**** INFOBOX ****/
				.infobox {
					background: #F6F7FB;
					border: 1px solid #E7E7E7;
					height: auto;
					width: 95%;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: normal;
					margin-bottom: 50px;
				}
				#avatar {
					border-bottom: 1px solid #E7E7E7;
					height: auto;
					width: 100%;
				}
				.description {
					color: #557780;
					font-style: italic;
					font-size: 12pt;
					padding: 25px !important;
					margin-top: -23px;
					overflow: hidden;
				}
				.circle {
					border-radius: 50%;
					color: transparent;
					width: 10px;
					height: 10px;
				}
				#creator .circle {
					background: #F8BD97;
				}
				#association .circle {
					background: #DED7E6;
				}
				#circle1 {
					float: left;
					margin-top: -20px;
					margin-bottom: 10px;
					margin-left: 10px;
				}
				#circle2 {
					border-radius: 50%;
					color: transparent;
					width: 10px;
					height: 10px;
					float: right;	
					margin-top: -20px;
					margin-bottom: 10px;
					margin-right: 10px;
				}
			/*** SOCIAL ***/
				#social {
					height: 200px;
					width: 83%;
					float: left;
					margin-top: -20px;
				}
				#social .links {
					border-style: solid;
					border-width: 1px 1px !important;
					color: #FFF;
					cursor: pointer;
					font-family: "Montserrat", sans-serif !important;
					font-size: 10.5pt;
					font-weight: bold;
					letter-spacing: .5px;
					line-height: 20px;					
					height: 20px;
					width: 100% !important;
					padding: 15px;
					text-transform: uppercase;
					margin-bottom: 20px;
				}
				#social .icon {
					width: 50px;
					height: 50px;
					float: left;
					margin-left: -15px;
					margin-top: -15px;
					margin-right: 20px;
				}
				#social #facebook {
					background: #3D8EB9;
					border-color: #00587A;
				}
				#social #facebook .icon {
					background-color: #005F97 !important;
					background: no-repeat url("icons/facebook.png") center;
					background-size: 22px auto;
					border-right: 1px solid #00587A;
				}
				#social #twitter {
					background: #10D2E5;
					border-color: #27a6cc;
				}
				#social #twitter .icon {
					background-color: #26bbe7 !important;
					background: no-repeat url("icons/twitter.png") center;
					background-size: 21px auto;
					border-right: 1px solid #27a6cc;
				}
				#social #mail {
					background: #EF5C54;
					border-color: #9E373B;
				}
				#social #mail .icon {
					background-color: #C82647 !important;
					background: no-repeat url("icons/mail.png") center;
					background-size: 25px auto;
					border-right: 1px solid #9E373B
				}
			/*** SEPARATOR ***/
				.separator {
					border-color: #EBEBEB;
					border-style: dashed;
					border-width: 1px 0px 0px 0px;
					box-shadow: none !important;
					color: #FFF;
					float: left;
					width: 230px;
					margin-top: -25px;
				}
		/*** RIGHT BOX ***/
			#rightbox {
				background: transparent;
				height: 100% !important;
				width: 58%;
				margin-top: 60px;
				margin-left: 370px;
				margin-right: 100px;
			}
			/**** TITLE ****/
				.title {
					font-size: 25pt;
				}
				.title .subject {
					color: #2CC990;
					font-family: "Raleway", sans-serif !important;
					font-weight: 900;
					text-shadow: 3px 3px #EBEBEB;
				}
				.title .time {
					color: #D4D4D4;
					font-size: 11pt;
					font-weight: 900;
					letter-spacing: .5px;
					text-transform: uppercase;
					margin-top: -32px;
					margin-left: 1px;
				}
			/**** ARTICLE ****/
				.article {
					border-bottom: 1px dashed #EBEBEB;
					padding-bottom: 35px;
				}
				.article:last-child,
                                .article:nth-last-child(2) {
					border: none !important;
				}
				.tags:before {
					content: " #";
				}
				.tags {
					background: #66CC99;
					border-radius: 2px;
					font-style: italic;
					display: inline-block;
					margin-right: 10px;
					padding: 10px 15px;
				}
